* {
    margin:0;
    padding: 0;
}

h1{
    text-align: center;
    color: blue;
}
html{
    display: flex;
    justify-content: center;
}
.contenedor {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
    padding: 10;
    margin: 10;
}

li {
    text-decoration: none;
    font-size: 40px;
}